# Images
*.jpg
*.tif

# Other Data
*.csv
*.pbtxt
*.tfrecord
**/input/*
**/output/*

# Python Artifacts
.DS_Store
*.idea
*.pyc
__pycache__
.ipynb_checkpoints

# Jupyter Notebook Artifacts
.ipynb_checkpoints
